<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "<%= id %>"
        version   = "0.0.0">

    <name><%= appName %></name>

    <author href="https://build.phonegap.com" email="<%= authorEmail %>">
        <%= authorName %>
    </author>

</widget>